.title-profile-container{
    width: 20vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.logout-popup{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: rgba(52, 64, 84, 0.70);
    backdrop-filter: blur(8px);
}
.logut-buttons-sections{
    background-color: white;
    padding: 10px;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.pop-up-logout{
    display: flex;
    color: white;
    border: none;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #DC2626;
}

.pop-up-buttons{
    display: flex;
}
.confirm-logout-icon{
    background-color: #FDE68A;
    color: #D97706;
    border-radius: 8px;
    font-size: 40px !important;
}
.pop-up-cancel-button{
    margin-left: 10px;
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid #CBD5E1;
    background: #FFF;
}

.money-text-class{
    color: #F89A23;
}
.matter-text-class{
    color: #02969C;
}
.heading-section{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
}
.nav-item-button{
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor:pointer;
}
.fa-solid{
    font-size: 20px;
    margin-right: 10px;
}
.active-tab{
    color: var(--primary-3, #2D60FF);
    border-left: 5px solid #2D60FF;
}

.avatar{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.bottom-profile-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.name-email{
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bottom-email-logout{
    display: flex;
    align-items: center;
}
.user-name{
    margin: 0%;
}
.logout-button{
    border: none;
    cursor: pointer;
}